.button{
    width: 80%;
    height: 2rem;
    border: none;
    background-color: white;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5),
    0 -5px 5px -5px rgba(0, 0, 0, 0.5),
    5px 0 5px -5px rgba(0, 0, 0, 0.5),
    -5px 0 5px -5px rgba(0, 0, 0, 0.5);
}